*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  max-width: 65ch;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  background: #997e67;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 0.0625rem;
}

time {
  display: block;
  margin-top: 0.0625rem;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: underline;
}
